# Tweets | NLP Cosine Similarity | TF-IDF

In [2]:
# Import Libraries
# basic library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re, string

# machine learning library
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# nlp library
import nltk

# other library
from wordcloud import WordCloud, STOPWORDS
from tqdm import tqdm

In [3]:
# read data
data = pd.read_csv('./data/tweets.csv', encoding='latin')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Target  1048575 non-null  int64
 1   ID      1048575 non-null  int64
 2   Date    1048575 non-null  object
 3   flag    1048575 non-null  object
 4   User    1048575 non-null  object
 5   Text    1048575 non-null  object
dtypes: int64(2), object(4)
memory usage: 48.0+ MB

In [8]:
# let cut the data down to only 1000 row
df = data.iloc[0:1000]
df

,Target,ID,Date,flag,User,Text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
995,0,1468055266,Mon Apr 06 23:28:41 PDT 2009,NO_QUERY,ohmigosh_dusti,@t_wolfe i miss u too. i'm totally comin back...
996,0,1468055472,Mon Apr 06 23:28:43 PDT 2009,NO_QUERY,tiphaniebrooke,@sniffinglue ohhh. I love it. ps I'm sad we di...
997,0,1468055604,Mon Apr 06 23:28:45 PDT 2009,NO_QUERY,rinahannah,And somehow I still end up in this place
998,0,1468055791,Mon Apr 06 23:28:49 PDT 2009,NO_QUERY,ecjc,"@kisluvkis oh that is very sad, poor boy."
999,0,1468055852,Mon Apr 06 23:28:50 PDT 2009,NO_QUERY,Saphyre1969,"@JonathanRKnight @silver_tulip27 Um, that woul..."

In [9]:
# Only text column
df = df[['Text']]
df

                                                  Text
0    is upset that he can't update his Facebook by ...
1    @Kenichan I dived many times for the ball. Man...
2      my whole body feels itchy and like its on fire
3    @nationwideclass no, it's not behaving at all....
4                        @Kwesidei not the whole crew
..                                                 ...
995  @t_wolfe  i miss u too. i'm totally comin back...
996  @sniffinglue ohhh. I love it. ps I'm sad we di...
997          And somehow I still end up in this place
998         @kisluvkis oh that is very sad, poor boy.
999  @JonathanRKnight @silver_tulip27 Um, that woul...

[1000 rows x 1 columns]

### Word Cloud